# Dependencias
node_modules/

# Versión compilada
dist/
dist-ssr/

# Registros
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*
!.env.example

# Editores
.vscode/
.idea/
*.iml

# Archivos del sistema
.DS_Store
Thumbs.db
Desktop.ini

# Archivos temporales
*.tmp
*.temp